<% if resource.errors.any? %>
  <div class="notification my-3 is-danger is-light">
    <div class="content">
      <% resource.errors.full_messages.each do |message| %>
        <%= message %><br/>
      <% end %>
    </div>
  </div>
<% end %>
