<div class="container has-text-centered">
  <%= content_tag :div, data: { 
  controller: "conversation",
  'conversation-update-audio-path-value': update_audio_conversation_path(@conversation),
  'conversation-conversation-id-value': @conversation.id } do %>
    <%= t("start_speaking") %>
  <% end %>
  <br/>
  <br/>
  <%= button_to home_index_path, class: "button is-link", method: :get do %>
    <strong><%= t("finish") %></strong>
  <% end %>
</div>
