<div
  data-controller="chat"
  data-action="userUtterance@window->chat#handleUserUtterance"
  class="chat-container box mt-3 has-background-grey-darker"
>
  <div class="messageList" data-chat-target="messageList"></div>
</div>
