<h1>Amico</h1>
<p>Press start to begin recording from the microphone.</p>
<p>Open the console to see what's happening under the hood.</p>
<button
  id="start"
  data-controller="microphone"
  data-action="click->microphone#start"
>Start</button>
<br/>

<button
  id="start"
  data-controller="microphone"
  data-action="click->microphone#stop"
>Stop</button>

<br/>
<br/>

<%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
<br/>
<%= link_to "Edit my account", edit_user_registration_path %>
